.idea
CMakeCache.txt
CMakeFiles/
Makefile
bootloader-prefix/
cmake-build-debug-xtensa/
cmake_install.cmake
compile_commands.json
config/
esp-idf/
flash_app_args
flash_bootloader_args
flash_partition_table_args
flash_project_args
flasher_args.json
ldgen_libraries
ldgen_libraries.in
mconf-idf-prefix/
project_description.json
sdkconfig
